<br>
<div class="container">
  <div class-"row">
    <div class="col-md-6 col-md-offset-3">
       <h2 style="text-align:center">입시 시험</h2>
       <p>보통 옥스브리지, 의대 그리고 법대에서 요구하는 시험으로서 대학교에서 입시생들의 학문적 가능성과 우수성을 수능 학점만으로 판단하기엔 어렵기 때문에 치러 지는 평가제도 입니다. 과목별 입시시험 및 사고 능력을 평가하는 종합적인 입시 시험이 있습니다.</p>

      <p><i>아래 링크에서 입시시험에 대한 더욱 많은 정보를 찾을 수 있습니다:</i><br><a href="http://www.admissionstestingservice.org/for-test-takers/" target="_blank">http://www.admissionstestingservice.org/for-test-takers/</a></p>
<br>
      
      <h2 style="text-align:center">시험 장소</h2> 
      <p>한국 고등학교에서 입시하는 학생들은 보통 영국 대사관에서 시험을 치르게 됩니다. 반면 영국에선 여러 군데의 시험관이 있으며 아래 링크에서 그 위치를 찾을 수 있습니다. 영국과 한국이 아닌 나라에서 입시 준비를 하신다면 마찬가지로 아래 링크에서 시험 장소를 찾으실 수 있습니다.<br>
      <a href="http://www.admissionstestingservice.org/find-a-centre/#" target="blank">http://www.admissionstestingservice.org/find-a-centre/#</a><br><br>
      
      *법대 입시 시험 (LNAT)은 유일하게 영국이든 한국이든 다른 나리이든 시험 장소가 다릅니다. <a href="https://wsr.pearsonvue.com/testtaker/registration/SelectTestCenterProximity/LNAT/948295" target="blank">Pearson Vue</a>라는 곳에서 치뤄지게 됩니다.</p>
      <br>
      <h2 style="text-align:center">모든 과목이 입시 시험을 필요로 하는가?</h2>
      <p>대부분의 과목이 입시 시험을 필요로 하지만 그렇지 않은 과목들도 있습니다. 과목별 입시 시험 필요사항은 아래 링크에서 볼 수 있습니다:</p>
      <p><b>옥스퍼드</b>:<br>
  <a href="http://www.ox.ac.uk/admissions/undergraduate/applying-to-oxford/tests" target="_blank">http://www.ox.ac.uk/admissions/undergraduate/applying-to-oxford/tests</a></p>

      <p><b>케임브리지</b>:<br>
<a href="http://www.study.cam.ac.uk/undergraduate/apply/tests/" target="_blank">http://www.study.cam.ac.uk/undergraduate/apply/tests/</a>
</p>
      <br><br>
      </div>
  </div>
</div><!-- end of container -->
  <div class="atesttips">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
      <h1>체크리스트</h1><br>
      <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;온라인에서 찾을 수 있는 기출문제 풀어보기</h4>
      <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;입시 시험 접수 마감일 전에 접수하기</h4> 
      <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;가장 가까운 입시 시험관 확인하기</h4>
      <br><br>
    </div>
  </div>