<div class="jumbotron footers">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>학교 커리큘럼 그리고 대학 입시 과외</h1>
          <h2 style="font-color:#6c767f">해외에서든 한국에서든. 오프라인으로든 온라인으로든.</h2>
          <%= link_to "프로필 등록하기", new_tutor_profiles_path, class: "btn btn-success becomeatutor", data: { no_turbolink: true } %>
        </div>
        <div class="col-md-4 col-sm-4">      
          <img src="https://dl.dropboxusercontent.com/s/ak3xgu06q5zeric/become_a_tutor.jpg" class="img-rounded img-responsive" height="300" width="300">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
    <div class="col-md-7">
      <h1>이용방법</h1>
      <h3>1. 선생님 프로필 만들기</h3>
      <p>프로필을 통해 학생과 학부모님께 자신에 대해서 알려주는 어필할수 있습니다. 그루미는 후기 시스템을 도입하여 학생들이 프로필에 후기를 남길 수 있도록 하였습니다. 학생과 학부모님께서는 선생님을 결정하실때 후기를 보시니 전에 가르치던 학생이 있다면 꼭 후기를 부탁하세요!</p>
      <h3>2. 학생 연락 기다리기</h3>
      <p>학생과 학부모님은 프로필에 기재된 연락처를 통하여 아니면 사이트 메세지 시스템을 통하여 연락을 하실 겁니다.</p>
      <h3>3. 수업 하기</h3>
      <p>수업이 잡혔으면 이제 만나서 혹은 온라인으로 가르칠 시간입니다. 학생이 어려워하는 시험공부 및 생소하여 어떻게 해야 할지 모르는 칼리지앱 및 UCAS앱을 도와주세요!</p>
    </div>
    
    <div class="col-md-5" style='border-left: 1px solid #eeeeee;'>
      <p style="font-size: 15px">
        <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/passport.jpg" class="img-circle" style="text-align:center" height="100" width="100"><br><br>
        <i>"이번에 그루미를 통하여 옥스퍼드 생화학 그리고 화학 입시생들 자기소개서 및 인터뷰를 봐줄수 있는 기회가 있었습니다. 대입 준비 과외는 처음이었는데 정말 간절하고 열심히 하는 학생들을 가르쳐보니 5년의 제가 생각나더라구요. 다행이도 둘다 오퍼를 받아서 너무 뿌듯했습니다. 5년전 제가 입시하던 때에도 제가 이런 도움을 간절히 원했기 때문에 1월에 느꼇던 뿌듯함이 배가 됬던거 같습니다."</i><br>- 이혁진</p>
      <hr>
      <p style="font-size: 15px">
        <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/dresong.jpg" class="img-circle" style="text-align:center" height="100" width="100"><br><br>
        <i>"그루미와는 대학교 일학년 때부터 해왔는데 덕분에 학기중 런던에서 그리고 방학 때 서울에서 과외를 할수 있었습니다. 앞으로도 계속 그루미를 통하여 할 생각입니다!"</i><br>- 송두레</p>
    </div>
  </div>
</div><!-- endof row -->

