<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>케임브리지 입시 경험 - 엔지니어링</h2>
      <div class="row">
        <div class="col-md-1">
          <a href="#">
          <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/oxforduniversity.png" class="img-circle" style="width:40px">
          </a>
        </div>
        <div lcass="col-md-11">
          <h4>비공개, 케임브리지 엔지니어링 <i>2013-2017</i></h4>
        </div>
      </div>
      <br>
      <h4><b>간단한 자기 소개 부탁드립니다</b></h4>
      <p>영국에는 초등학교5학년 때부터 쭉 기숙사학교를 다녔고 현재 케임브리지 Downing College에서 Engineering을 전공하고 있습니다. </p><br> 
      
      <h4><b>입시준비를 어떻게 하셨는지 궁금합니다. Work Experience 가 있다면 어떤 것들이 있었을지궁금합니다. </b></h4>
      <p>입시준비는 고등학교에서 많이 도와줬습니다. 워낙 저희 학교가 Oxbridge에 지원하는 사람이 많다 보니 인터뷰준비나 personal statement 쓸 때 도움을 많이 받았습니다. 학교에서 무조건 모든 학생한테 work experience를 하게 시켜서 저는 그 당시에 건축학에 관심이 있어서 건축회사로 2주동안 들어가있었습니다.</p><br>
      
      <h4><b>케임브리지 공대는 아주 academic 을 중점으로 두고 있다고 들었습니다. 때문에 학문에 대한열정을 보여줘야 하는데 고등학교 때 arduino 등 창의성을 기르는 과학 영재교육에 나올만한 것들 관련 경험이 있으면 플러스가 되겠네요?</b></h4>
      <p>Personal statement 쓸 때 수학/과학 올림피아드 경험이 있으면 도움이 됩니다. 그리고 그런 문제들을 많이 풀면 인터뷰 때도 도움이 됩니다. 인터뷰 문제들이 A-level에서 나오는 문제 보다는 좀더 헷갈리고 더 복잡하기 때문입니다.</p><br> 
      
      <h4><b>인터뷰 전에 많이 떨리셨을 텐데 전체적인 인터뷰 경험에 대해 짧게 말씀 부탁 드릴게요(예 하루에 전부다? 1박2일? 교수님들 인상 등) </b></h4>
      <p>칼리지 마다 조금 다를 수 있는데 대부분 인터뷰를 두 번을 봅니다. 저는 인터뷰 하루 전날에 케임브리지에 와서 하룻밤 자고 그 다음날에 인터뷰를 오전, 오후 봤습니다. 인터뷰는 대략 30분정도 하고 교수님 두 분이 돌아가면서 질문합니다. 교수님들은 아주 친절하시고 저희가 긴장하지 않게 도와줬습니다. </p><br> 
      
      <h4><b>Engineering 은 고등학교 때 공부하지 않기 때문에 인터뷰 때 대부분 수학 문제들이 나온다고 들었습니다 (적분?) 그럼 A-Level 수준 이상으로 적분 문제를 엄청 풀면 되겠네요? </b></h4>
      <p>저는 인터뷰 볼 때 물리 한 문제랑 수학 한 문제를 풀었습니다. 문제들이 다 a-level에서 배웠던 지식으로 풀 수 있습니다. 하지만 만약에 질문이 A-level 수준 이상으로 가고 저가 모르는 부분으로 가면 교수님이 도와줍니다. 수학 문제는 적분이랑 그래프 그리기가 아주 흔합니다. 전 특히 그래프 그리기를 인터뷰 전에 많이 연습하고 갔습니다.</p><br>
      
      <h4><b>다른 과목과 달리 딱히 읽을 만한 'Engineering'서적이 없네요. 하지만 항상 뉴스에 나오는 기술 R&D에 대한 기사는 많네요 (예, 이론 머스크의 테슬라). 자기 소개서에 이런 종류의 관심사는 필수 입니까? </b></h4>
      <p>물론 자기 소개서에 엔지니어링에 대한 책이나 잡지를 읽었다고 적으면 좋긴 하지만 필수는 아닙니다. 자신이 엔지니어링에 관심이 있다는 것만 교수님한테 전달하면 됩니다. 저는 도서 말고 주로 엔지니어링 다큐멘터리를 많이 봤다고 했고 학교에서 따로 조그만 한 프로젝트로 통해 엔지니어링에 interest를 키웠다고 적었습니다. 그리고 혹시 읽을만한 ‘engineering’ 서적이 필요하시면 Cambridgeengineering reading list에 보면 많이 나옵니다. </p><br> 
      
      <h4><b>TSA준비는 Past paper 풀기 외에 다른 준비를 하셨나요? </b></h4>
      <p>칼리지마다 요구하는 것이 조금씩 다른데 어떤 칼리지는 TSA를 요구하고 어떤 칼리지는 STEP을 요구할 수도 있습니다. 저희 칼리지는TSA랑 STEP을 안 봐도 되지만 따로 1시간짜리 수학문제 시험이 있습니다. 이건 칼리지 고를 때 만약에 TSA나 STEP을 준비를 안 하셨다면 칼리지 선정할 때 이런 시험을 요구하지 않는 칼리지를 선택하시는 것이 좋습니다.</p><br>
      
      <h4><b>3년전으로 돌아간다 해도 Engineering을 하셨겠습니까? </b></h4>
      <p>제 생각에 Engineering은 제 적성에 잘 맞는 것 같아서 3년전으로 돌아가도 다시 engineering을 선택할 것입니다. Engineering은 Lab시간도 많고 다른 과목에 비해 학교에 contact time이 많다 보니 자기 적성에 안 맞는 경우 힘들 것입니다. 물론 어렵긴 하지만 적성에 맞으면 재미있는 시간을 보낼 것 같습니다. </p><br> 
      
      <h4><b>마지막으로 차기 케임브리지 공대 입시 생들에게 해주고 싶은 조언이 있다면?</b></h4>
      <p>인터뷰 준비 할 때 괜히 대학교 과정이나 A-level에 없는 것을 배우는 것 보다는 A-level 문제를 많이 푸는 것이 훨씬 좋을 것 같아요. 저도 그랬고요. 막 많이 아는 것 보다는 기초가 단단한 것이 훨씬 좋습니다. 에이레벨 이상으로 선행학습을 해도 교수님들을 impress 하기는 매우 어렵습니다 하지만 만약에 기초가 부실하면 교수님은 그것을 아주 빨리 알아채고 그 candidate을 reject 할 가능성이 매우 높습니다. 교수님들은 이 학생이 얼마큼 아는지를 보는 것이 아니라 모르는 문제가 주어졌을 때 어떻게 풀어가는지를 봅니다.</p><br>
      <br> 
    </div>
  </div>
