<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>케임브리지 인터뷰 - 수학</h2>
      <h4>케임브리지 수학과 <i>2010-2013</i></h4>
      <br>
      <h4><b>간단한 자기 소개 부탁드립니다</b></h4>
      <p>안녕하세요 고등학교 1학년 때 영국 A-Level 학교로 유학을 시작해서 2년전에 케임브리지 Selwyn College에서 수학을 전공하였습니다.</p><br> 
      
      <h4><b>케임브리지에서는 보통 두 개의 인터뷰를 본다고 하던데 인터뷰에 대해 말씀 부탁 드릴게요.</b></h4>
      <p>케임브리지도 칼리지마다 다르겠지만 저희 칼리지 Selwyn 에서는 세 번의 인터뷰를 봤습니다. 맨 처음 Non-academic interview와 그 이후 두 번의 Academic interview로 구성되어 있습니다. 저는 전날 밤에 도착해서 학교 기숙사에서 하루 자고 나서 다음날 인터뷰를 시작했어요. 아침 식사 이후 처음 면접은 아침 일찍 있었던 걸로 기억해요. 첫 면접은 아주 친절한 Chaplain 이 면접 관이었는데 그냥 제가 어떤 사람인지 어쩌다 수학에 관심이 생겼는지 등 앉아서 담소 나누듯 가벼운 질문만 받고 끝났습니다. 두 번의 Academic interview는 각 면접마다 다른 두 교수님이 면접 관이셨습니다. 두 분이 서 번갈아 질문을 하셔서 뭔가 굉장히 긴장되고 위압감 있었던 것 같아요. 각 academic interview가 30분이었는데 앉자마자 인사만 주고받고 바로 수학문제로 넘어가서 30분 내내 계속 수학문제만 봤습니다. 긴장해서 그런지 30분이 정말 짧게 느껴졌습니다. 첫 academic interview 이후에 점심 식사를 하고 마지막 인터뷰까지 좀 휴식시간이 있었던 것 같아요.</p><br> 
      
      <h4><b>정말로 예상 밖의 문제들이 나왔습니까?</b></h4>
      <p>물어본 문제들은 보통 아는 것부터 시작해서 아는 것들을 풀면 푼 내용을 응용해서 점점 더 심화된 문제와 증명들로 넘어갔습니다. 보통 유명한 문제들도 물어보시고 전혀 생각지도 못한 부분도 물어보셨습니다.</p><br> 
      
      <h4><b>케임브리지 교수님을 생각하면 연륜이 있으신 학자 분들이 정말 어렵고 면접 생으로서 무섭게 느낄 정도의 분위기가 상상 되는데 맞습니까?</b></h4>
      <p>꼭 그렇지만은 않습니다. 일단 말씀 드린 것처럼 아는 부분으로부터 시작해서 점점 심화되기 때문에 시작할 때는 큰 어려움이 없습니다. 교수님들은 보통 학생이 생각하는 방법을 보기 위해서 계속 심화된 문제를 주시기 때문에 아주 어려운 문제 하나를 그냥 내주고 '너 혼자 알아서 풀어라' 식으로 면접을 진행하시지는 않습니다. 틀린 방향으로 문제를 접근하고 있으면 힌트를 하나씩 주시고 옆에서 맞게 풀 수 있도록 계속 도와주십니다. 그래서 자기가 어떤 생각을 하고 있고 어떤 방법으로 문제를 풀 건지 끊임없이 얘기하는 게 중요합니다.</p><br> 
      
      <h4><b>인터뷰 기다리면서 봤던 다른 입시 생들이랑 이야기 해보셨습니까? '경쟁자들'이였을 텐데 위압감 같을 걸 느끼셨는지요?</b></h4>
      <p>일단 같은 날 다른 과목 친구들도 면접을 같이 봐서 다른 공부를 하고 싶어하는 친구들과 대화를 나눌 수 있어서 흥미로웠습니다. 다들 긴장한 상태라 대화를 나누고 농담도 주고 받으면서 잠깐이나마 긴장감을 잊는데 도움이 되었던 것 같습니다. 저와 똑같이 수학 면접 보러 온 학생은 딱 두 명과 얘기해봤습니다. 근데 보통 모두 똑같은 면접을 보고 똑같은 문제를 질문 받을걸 알기 때문에 서로 대화를 그렇게 오래 하고 싶진 않았던 것 같습니다. 뭔가 면접 당시에는 저 빼고 모든 학생이 저보다 더 똑똑해 보이는 건 아마 모두 비슷하게 느끼지 않을까요?</p><br> 
      
      <h4><b>STEP이 아주 어렵다고 하던데 인터뷰와 STEP 중 뭐가 어려웠던 난관이었습니까?</b></h4>
      <p>일단 면접은 30분 동안 아는 것부터 시작해서 심화되는 것이고 STEP은 3시간 시험이기 때문에 난이도를 비교한다면 당연 STEP이 훨씬 어렵습니다. 하지만 인터뷰는 짧은 시간에 빠르고 똑똑하게 생각을 하는 게 중요하다면 STEP은 성실하게 준비 하는 게 중요하다고 생각합니다. 예를 들자면, 저와 같은 학년 수학과로 입학한 친구 중에 국가 대표로 국제수학올림피아드도 나가던 굉장히 똑똑한 친구가 있었는데 그 친구는 STEP 준비를 하나도 안하고 봐서 STEP 성적이 아주 낮았던 걸로 기억합니다.</p><br> 
      
      <h4><b>옥스브릿지는 봉사활동, 리더십 경험 등의 교외 활동이 필요 없다고 하는데 맞습니까?</b></h4>
      <p>좀 웃긴 얘기지만 수학 공부 외에 work experience 나 교외 활동 등은 케임브리지 수학 입학에 거의 도움이 되지 않는 것 같습니다. 아마 그 시간에 수학책을 더 읽으시는 게 좋지 않을까요?</p><br> 
      
      <h4><b>5년전으로 돌아간다 해도 수학을 하셨겠습니까?</b></h4>
      <p>저는 분명 다시 돌아가도 수학 전공을 할 것입니다. 사실 지금도 수학 관련 석사과정 공부를 아주 즐겁게 하고 있습니다. 근데 분명히 말씀 드리고 싶은 건, 영국은 교양과목 없이 전공만 3년 듣고 졸업이기 때문에 수학이 좋아서가 아니라 그냥 제일 점수 잘나오고 해볼만한 과목이라 지원하시는 거라면 다시 생각하시길 조언 드리고 싶습니다. 여러 수학 관련 서적들을 읽어보시고 정말 흥미롭다 싶으실 때 지원하시는 게 좋을 것 같습니다.</p><br> 
      
      <h4><b>마지막으로 후배 캠브리지 수학 지원자들에게 해주실 조언이 있다면?</b></h4>
      <p>일단 흥미롭게 읽은 수학책 몇 권은 꼭 있으셔야 합니다. 저 같은 경우는 당시 Euler에 관심이 많아서 'Euler, the master of us all' 과 'Euler's Gem' 등등 한 다섯 권 정도 깊이 있게 읽은 것 같습니다. 그리고 유명한 면접문제들은 꼭 다 찾아서 풀어보고 가시고 (e.g. Does harmonic series converge?) 수학 Brain teaser 관련 책도 공부하시면 도움이 되실 겁니다. </p><br> 
    </div>
  </div>
