<div class="jumbotron index">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-8">
      <h1>与Native Speaker交换口语技能</h1>      
      <div class="row">          
          <div class="col-md-6 col-sm-6">            
            <%= form_tag search_tutor_profiles_path, :method=> :get, :class=> "center" do %>
             <ul class="styled-select-index">
            <%= select_tag :search_university, options_for_select([["",""]]+University.all.pluck(:name),(@tutor_profile.university rescue nil)), :include_blank => true, :id => "university", :class => "styled-select-box", placeholder: t('Target University'), style: "width:80%", placeholder: "Select the language you wish to learn" %> <span class="glyphicon glyphicon-search" style="font-size:25px;color:#ea6779;margin-top:5px"></span>
             </ul>
              <%= submit_tag "Search", :name => nil, :class=> "indexsearchbutton" %>
          </div>
      </div>              
      
         </div>
     <% end %>
  </div>
   <br><br><br><br><br><br><br><br><br><br><br>
</div><!-- end of container-->

<script>
  $(document).ready(function() { $("#e1").select2({placeholder: t("수업과목"), allowClear: true}); });
</script>

<script>
  $("#ua_list_head").click(function(){
    $("#ua_list").slideToggle("slow")
    $(".collapse_status_button_1").toggle()
  })
  $("#ep_list_head").click(function(){
    $("#ep_list").slideToggle("slow")
    $(".collapse_status_button_2").toggle()
  })
</script>

<script>
  function get_country_set_city(country){
    $.ajax({
      url: "<%= pages_get_country_set_city_path %>",
      method: "POST",
      data: {country_name : country},
      success:function(data){
        cities = data.cities
        options = '<option value="">Select City</option>'
        for(i=0;i<cities.length;i++){
          options = options + '<option value='+'"'+ cities[i]+'"' +'> ' + cities[i] + '</option>'
        }
        $("#search_city_select").html(
          '<select class="form-control indexsearchbox" name="search_city" >'+
            options+
          '</select>'
        )
      }
    })
  }
</script>