<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/L2komww7YMQ" frameborder="0" allowfullscreen></iframe>
      <h2>1. 온라인 수업 - 스카입 & Idroo</h2><br>
      <p>온라인 개인 지도는 스카이프와 가상 칠판 프로그램을 활용함으로써 언제 어디서든 수업이 가능합니다. 방학동안 수업을 하다가 학기중에 출국 하여 선생님과 멀리 떨어졌을 때 아니면 원하시는 선생님이 멀리 떨어져 있을 때를 위한 수업 방법입니다. <b>Idroo</b> (<a href="http://idroo.com/" target="_blank"><span class="txt_style_1; link">www.idroo.com</span></a>)을 통하여 문제지, 답안지 및 해설을 공유할 수 있습니다. 국제적으로 사용이 가능한 '스카이프'를 영상 통화 프로그램 '이드루'를 가상 칠판 프로그램으로 추천합니다.</p>  
      <br><br>
        <img src="https://dl.dropboxusercontent.com/s/ghv3t1pdl12w2xv/idroo.png" class="img-rounded img-responsive" height="200"> 
      </br></br>
      <h2>2. 에세이 첨삭 - 스카입 & Google Doc</h2>
      <p>에세이 첨삭을 할 시에는 Idroo 대신에 <a href="https://www.google.com/docs/about/" target="_blank" class="link">Google Doc</a> 을 쓰시면 아주 간편하게 선생님과 학생사이에 첨삭 수업이 가능합니다. Google Doc은 Microsoft Word의 온라인 버전이라고 생각하시면 되시는데요 Google Doc '칠판' 내에서 선생님이 쓰는 건 학생이, 학생이 쓰는 건 선생님이 실시간으로 볼 수 있습니다. 위 동영상은 자기소개서 첨삭 수업인데 참조하시면 도움이 되겠습니다.  
     
    </div>
    <div class="col-md-4" style='border-left: 1px solid #eeeeee;'>
      <h2>Idroo 사용법</h2>     
      <h3>1. 회원가입 (무료)</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/jvrihj9e5tnjo05/idroo0.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - Idroo에 회원가입 또는 페이스북으로 로그인 해주세요
        </figcaption>
      </figure>
      <br>
      <h3>2. 가상 칠판 만들기</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/azilfyx6e4iphob/idroo1.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px; ">
           - 밑줄친 버튼을 눌러주세요
        </figcaption>
      </figure>
      <br>
      <h3>3. 선생님을 가상 칠판에 초대하기</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/oxwacnxpu91e3rv/idroo2.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - 'Sharing'이라는 이 하얀 배경 아이콘을 누르면 url 링크가 나오는데 이 링크를 선생님께 보내주세요
        </figcaption>
      </figure>
     <br>      
      <h3>4. 칠판에 필기하기</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/f1uuh3n0o613jdo/idroo3.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - 표시된 펜 아이콘을 누르시면 칠판에 필기가 가능합니다.
        </figcaption>
      </figure>
     <br>
      <h3>5. e-시험지 또는 교과서 업로드 하기</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/w5g6htyq38qmw7o/idroo4.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - 'Documents' 그리고 'Images' 아이콘을 누리시면 원하시는 e-문서를 업로드 하실수 있습니다.
        </figcaption>
      </figure>

    </div>
  </div>