<br>
<div class="container">  
   <div class="row">   
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>옥스브릿지 인터뷰란?</h2>  
        <div class="row">
          <div class="col-md-1">
            <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/klogofinalfb.png" class="img-circle" style="width:40px">
          </div>
          <div lcass="col-md-11">
            <h4>그루미 <i>15.04.23</i></h4>
          </div>
        </div>
      </div>
  </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6">
          <div class="interviewscircle">
            <h2>사고력</h2>
          </div>
           <p><i>“Interviewers are not necessarily looking for the right answer but one that shows innovative thinking”<br><br>"면접관들이 원하는 건 정답이 아닌 창의적인 사고를 보여주는 답입니다"</i></p>
          <h5 style="text-align:right"><b>Dr Sam Lucy</b><br>케임브리지 Newnham 칼리지 입학 담당 교수님</h5>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="interviewscircle">
            <h2>열정</h2>
          </div>
          <p><i>"We're looking for students who are intelligent - very interested in their subject and who can demonstrate their interest"<br><br>"우린 지능적인 학생들을 찾고 있습니다 - 과목에 열정적이고 그 열정을 보여 줄 수 있는"</i></p>
          <h5 style="text-align:right"><b>Mike Nicholson</b><br> 옥스퍼드 대학 학사 입학 총관</h5>
        </div>  
      </div>
<br><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>인터뷰 형식</h2><br>
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/interviews.JPG" alt="Flower" style="float:right; width:300px; padding-left:15px">
      <p>인터뷰는 보통 20-30분이 걸리며 2번을 보게 됩니다. 칼리지마다 다르지만 2-3분의 면접관이 있는 게 보통이지만 1분만 계실 수도 있습니다. 이 면접관 분들은 합격을 하면 아마 지도 교수님들이 될 분들이십니다. 옥스퍼드에서는 인터뷰 한 번을 입시생이 선택한 칼리지에서 보고 다른 인터뷰는 랜덤으로 선택된 칼리지에서 봅니다. 이는 모든 인터뷰가 입시생이 선택한 칼리지에서 치러지는 케임브리지와 다릅니다. 간혹 3번의 인터뷰를 보는 학생도 있는데 이는 칼리지에서 합격 결정을 두고 확실치 않아 학생을 한번 더 보고 싶기 때문입니다.</p><br> 
      <p>인터뷰에서는 우선 고등학교에서 쉽게 접할 수 있는 A-Level 과 IB 수준의 평이한 문제들로 시작을 하여, 단계적으로 문제들의 난이도를 상향하여 최종적으로는 대학교 원론 수준의 문제에 대한 답변을 요구하기도 합니다. 여기서 교수진들은 완벽한 답변보다는 학생들이 접해보지 않은 수준의 문제에 어떤 식으로 접근을 하고 사고를 하는지를 중점적으로 관찰합니다.</p><br>
      <p>이 과정에서 학생들의 이해를 돕기 위해 추가 설명이나 힌트를 줘, 학생이 새로운 정보를 얼마나 유연하게 받아들이고 활용하는지도 중요한 평가요소가 됩니다. 또한 학생들이 반응하는 자세는 학생들의 새로운 지식에 대한 열정을 보여주는 계기가 될 수도 있습니다.</p>
    </div>
  </div>
  
 