<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>옥스퍼드 인터뷰 - 생화학</h2>
      <div class="row">
        <div class="col-md-1">
          <a href="http://www.gurume.kr/tutor_profiles/6">
          <img src="http://s3.amazonaws.com/gurumek.s3-ap-northeast-1.amazonaws.com/tutor_profiles/images/000/000/006/small/passport.jpg?1428805998" class="img-circle" style="width:40px">
          </a>
        </div>
        <div lcass="col-md-11">
          <h4>이혁진, 옥스퍼드 생화학 <i>2010-2014</i></h4>
        </div>
      </div>
      <br>
      <h4><b>간단한 자기 소개 부탁드립니다</b></h4>
      <p>안녕하세요 어렸을 때부터 (12살) 영국에서 학교를 다니고 작년에 유학생활을 끝 마쳤습니다. Wellington College라는 기숙사 학교에서 5년동안 학교를 다니고 옥스퍼드에 입학하여 생화학 학사 석사를 하였습니다. 석사하는 동안 교환 프로그램을 통해 프린스턴 대학에서 석사 연구를 반년동안 하였습니다.</p><br> 
      
      <h4><b>옥스퍼드에서는 보통 두 개의 인터뷰를 본다고 하던데 첫 번째와 두 번째에 대해 말씀 부탁 드릴게요.</b></h4>
      <p>전 오리엘 (Oriel) 칼리지에 지원을 했고 세인트 휴 (St Hugh’s) 칼리지를 두 번째 옵션 칼리지로 배정받았습니다. 오리엘 칼리지에 아침 9시까지 도착하라는 그리고 1박2일 혹은 2박3일이 걸릴 수 있다는 통보를 받았습니다. 그래서 전 아침 6시에 일어나 기차를 타고 2박 3일을 예상하고 갔습니다. 도착하자마자 Junior Common Room (JCR)이라는 학부 '휴게소' 같은 곳에 갔습니다. 여기서 제 인터뷰 일정에 대해서 알 수 있다고 하더라고요. JCR에는 모든 오리엘 칼리지 입시 생이 모여있었습니다. 그곳에는 과목별 인터뷰 시간 통지서가 있었고 오리엘 칼리지 1학년, 2학년 대학생들이 인터뷰 위치 안내를 해주고 있었습니다. 제 첫 번째 인터뷰는 생각보다 일찍 (11시)이고 세인트 휴거라서 짐을 가지고 인터뷰를 보러 갔습니다. 세인트 휴까지 길안내를 해줬던 2학년 생화학생 누나가 기억이 나는데 입학 후에 제 칼리지 과 선배가 된 누나죠. 한 삼십 분 걸으니 세인트 휴에 도착했습니다.</p>
      
      <p>조금 늦어서 허둥지둥 세인트 휴의 JCR로 갔습니다. 그곳에도 세인트 휴 1,2 학년 대학생들이 길안내를 해주고 있었습니다. 인터뷰 10분전이고 어딜 가야 할지 모르고 서있는데 옆에서 'Are you Korean?' 이라고 말하며 정말 환하게 미소 지으며 다가왔던 한국 의대생 누나가 있었습니다. 정말 긴장하고 있었는데 정말 천사처럼 다가와 절 안정시켜줬어요. 그때의 기억 때문에 그 선배는 아직도 제게 천사같이 선배로 남아있어요.</p>
      
      <p>첫 번째 인터뷰 문제로는 꽤 쉬운 문제가 나왔어요. 칠판에 아미노산 분자를 그려보라고 하더라고요. 그 다음에는 아미노산을 하나 더 그린다음 두 개의 아미노산을 결합시키면 어떤 'Bond'인가라는 AS수준에 문제였어요. 그 다음이 많이 헷갈렸던 문제였는데 아미노산에서 Most electronegative한 Atom 인 무엇이냐라는. 학교에선 당연이 Oxygen 이라고 쉽게 이야기 했을 텐데 인터뷰 중에 이 질문을 받으니 갑자기 헷갈리더라고요. 그 다음에도 아주 간단하지만 얼마나 조리 있게 설명하는지에 대한 문제였어요. "Explain DNA Transcription and Translation/ DNA 전사와 번역에 대해 이야기해봐요". 이 문제도 5초 정도 준비를 하고 차분히 1분 가량의 주요 부분만 설명한 후 "Would you like me to go into more details?/ 조금 더 깊이 이야기 해볼까요?" 라고 하니 괜찮다며 인터뷰를 끝냈어요. 상상했던 인터뷰보다는 너무 간단했죠.</p> 
      
      <p>그래서 이게 잘한 건지 잘 못한 건지 갸우뚱거리며 오리엘에 12시에 돌아왔어요. 돌아오면서 같은 학교에서 인터뷰 보러 온 친구들과 타운센터에서 부리토 점심을 먹고 서로 각자 인터뷰에 대해 이야기 했는데 아무리 생각해도 제 인터뷰는 너무나 쉬웠던 거 같아요.</p> 

      <p>오리엘에 돌아와서는 저의 배정된 방에 가서 짐을 풀었습니다. 학생 기숙사였는데 독방이 넓고 샤워실 또한 달려있던 좋은 방이었습니다. (제가 입학한 후 일학년 때 살던 아래 층 방이었습니다) JCR에 가보니 다른 아이들은 새로 만난 친구들끼리 서로 이야기하고 있기도 했고 아 탁구대도 있었는데 긴장 푸는데 좋았던 거 같아요. 대신 전 다음 인터뷰 준비 겸 머릿속으로 생물 그리고 화학 지식 되새김질 하면서 옥스퍼드 거리를 산책했어요.</p> 
   
      <p>두 번째 인터뷰는 분위기부터 달랐어요. 일단 교수님 방이 약간 기울어진 정도로 정말 낡고 밝은 밝은데 창문이 작아서 안은 어둡고. 그리고 교수님이 세분이 제 왼쪽, 오른쪽 정면에 앉아서 질문을 던지는데 정말 훨씬 어려운 문제들에 그리고 압박감이 있었어요. 세분이 계시다 보니 제가 답을 끝내자 마자 새로운 질문이 바로 들어오는 그런 분위기였죠.</p>
      
      <p>첫 번째 질문은 자기소개서에 적었던 주제에 대한 질문이었습니다: '줄기세포 연구에 대해 이야기해보세요'. 이 질문은 예상을 하고 준비를 했기 때문에 그렇게 어렵지 않았습니다. 제 생각에는 긴장을 풀기 위한 문제였던 것 같아요 그리고 그 다음부턴 전에 보지 못했던 문제들이 나오기 시작했죠. 기억나는 문제 중 가장 기억에 남고 흥미로웠던 건 "Given that the selectivity filter is lined with carbonyl oxygens, how might K+ channel allow K+ through but not Na+ when Na+ is smaller?" 그리고 Selectivity Filter 어떻게 생겼는지 직접 종이에 그려주셨어요. 문제를 듣고 그림을 보자마자 제가 배웠던 생물 지식을 빠르게 탐색을 했는데 도대체 감이 안 왔어요. 그래서 한 12초 생각하다가 답을 모르니까 그냥 기초적인 이야기 했어요. "I'm not quite sure but I know that Na and K are in Group 1 with 1 electron on their outer shell and form ionic-dipole bond with carbonyl oxygens in ionic state". 그러니까 "Great" 그러더라고요. 나중에 보니 답을 몰라도 제 생각을 공유 한다는 태도를 좋게 보셨대요.</p>
      
      <p>정적이 있어서 전 힌트를 달라고 했어요. 그러더니 미소 지으시면서 "Think if there are some molecules interacting with the ions outside the filter"라고 했습니다. 아직도 기억나는데 이 힌트를 듣는 순간 전 아주 흥분했고 거의 답을 소리쳤죠. 유레카라고 하는 그런 순간 이었습니다. 갑자기 안 풀리던 문제가 이해가 된. 나중에 교수님에 이야기 해보니 제가 힌트를 달라고 했던 것에 대해 좋게 보았고 열정적으로 새로운 이해를 습득한 것에 대해 아주 좋게 보았다고 하더라고요.</p><br> 
      
      <h4><b>그럼 첫날 저녁에는 무얼 했나요?</b></h4>
      <p>보통 2개를 보고 3개를 볼 가능성도 있다고 하기에 전 저녁에 쉬자는 생각으로 학교 친구들과 영화를 보기로 하고 옥스퍼드 Odeon에서 모범시민을 봤습니다. </p><br> 
      
      <h4><b>숙소에서 잠은 잘 잤나요?</b></h4>
      <p>몹시 피곤했지만 긴장을 해서 그런지 잠은 잘 못 잤습니다.</p><br> 
      
      <h4><b>옥스브릿지 인터뷰를 앞둔 후배들에게 조언이 있다면?</b></h4>
      <p>조언은 정말 많습니다.. 짧게 네 가지로 나눠서 말씀 드리죠.</p>
      <p>1. 인터뷰에는 A-Level을 넘는 수준에 문제들이 나오기 때문에 A-Level을 복습을 덜 할 수 있는데 (저도 그랬고) 은근히 A-Level 수준의 문제가 많이 나오기 때문에 A-Level 확실히 복습하세요.<br>
2. 깊게 토론할 수 있을 정도로 가장 관심 있는 토픽 하나쯤은 준비하세요.<br>
3. 모의 인터뷰 꼭 해보세요.<br>
4. 그루미에 인터뷰 입시 자료 많던데 참고 하세요.</p><br> 
    </div>
  </div>
