<div class="jumbotron resources">
  <div class="resourcesbox" >
    <h2 style="text-align:center; color:white" >그루들의 인터뷰 경험담을 들어보시죠.</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/resources_oxford_biochemistry.jpg">
            <div class="caption">
              <p>15.04.23</p>
              <h4><b>옥스퍼드 생화학</b></h4>
              <p>옥스퍼드에서는 보통 두 개의 인터뷰를 본다고 하던데 첫 번째와 두 번째에 대해 말씀 부탁 드릴게요...</p>
              <h5><i>글쓴이</i> 이혁진</h5>
              <p><a href="<%= pages_oxford_biochemistry_interview_path %>" class="btn btn-default" role="button">읽기</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/resources_radcam%2Bhertford.png">
            <div class="caption">
              <p>15.04.23</p>
              <h4><b>옥스브릿지 인터뷰</b></h4>
              <p>인터뷰는 보통 20-30분이 걸리며 2번을 보게 됩니다. 칼리지마다 다르지만 2-3분의 면접관이 있는 게 보통...</p>
              <h5><i>글쓴이</i> 그루미</h5>
              <p><a href="<%= pages_oxbridge_interviews_path %>" class="btn btn-default" role="button">읽기</a>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>