<br><br>
<div class="container">
<div class="row">
<div class="col-md-7 col-md-offset-1">    
        <p><b>Biochemistry</b></br>
               · Steven Rose, Chemistry of Life </br>
               · Nick Lane, Power, Sex, Suicide: Mitochondria and the Meaning of Life </br>
               · Rebecca Skloot, The Immortal Life of Henrietta Lacks</p></br>
    
        <p><b>Chemistry</b></br>
          · Peter Sykes, Guidebook to Mechanism in Organic Chemistry</br>
          · James Keeler & Peter Wothers, Why Chemical Reactions Happen</p></br>
         
        <p><b>Classics</b></br> 
              · Primary: Homer Iliad (books 1-3 in Greek)</br>
              · Secondary: R. Buxton Imaginary Greece: the Contexts of Mythology (Cambridge, 1994)</p></br> 
        
        <p><b>Engineering</b></br> 
              · Staying up to date with current trends on news on tech, e.g.</br>
              <a href="http://www.livescience.com/49498-hyperloop-test-track.html" target="blank">http://www.livescience.com/49498-hyperloop-test-track.html</a></p></br> 

        <p><b>Human Sciences</b></br>         
          · Boyd, R. and Silk, J., How Humans Evolved<br>
          · Diamond, J. Collapse, How Societies Choose to Fail or Suceed</p></br> 

        <p><b>Maths</b></br>
          · Leonhard Euler, The Master of Us All</br> 
          · Marcus du Sautoy, The Music of the Primes</p></br>

        <p><b>Medicine</b></br>
          · Ashcroft F., Life at the Extremes</br> 
          · Neil S., Your Inner Fish</br> 
          · Jones S., The Language of the Genes</p></br>
        
        <p><b>Natural Sciences</b></br> 
              · Lewis Wolpert, How we live and why we die: the secret lives of cells</br> 
              · Barton, et al, Evolution</p></br> 
        
        <p><b>Politics (PPE Oxford; HSPS Cambridge)</b></br>
              · John Dunn, Setting the People Free: The Story of Democracy (London: Atlantic, 2005)</br>
              · David Runciman, Politics of Good Intentions: History, Fear, and Hypocrisy in the New World Order
                 (Princeton: Princeton University Press, 2006)</p></br>

</div>
</div>    