<br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>자기소개서 - 팁</h2>
      <div class="row">
        <div class="col-md-1">
          <img src="http://s3.amazonaws.com/gurumek.s3-ap-northeast-1.amazonaws.com/tutor_profiles/images/000/000/006/small/passport.jpg?1428805998" class="img-circle" style="width:40px">
        </div>
        <div lcass="col-md-11">
          <h4>이혁진, 옥스퍼드 생화학 <i>2010-2014</i></h4>
          <h5>*2014-2015 대입지도 성공 사례: 옥스퍼드 화학 1명, 옥스퍼드 생화학 1명 합격</h5>
        </div>
      </div>
      <br>
      <h5><i>*개인적인 소견일 뿐 정답이 아니라는 말씀 강조 드립니다.</i></h5>
      <h4><b>자기소개서란?</b></h4>
      <p>자기소개서란 왜 지원하는 코스를 공부하고 싶은지에 대한 대략 800자, 한 페이지의 에세이입니다 - <b>왜 지원하는 대학에서 공부하고 싶은 지가 아닙니다.</b> 때문에 영국에서는 5개의 대학에 지원하는데 하나의 자기소개서로 가능합니다.</p><br>
      <h4><b>자기소개서 구조는 어떻게 되죠?</b></h4>
      <p>꼭 따라야 하는 구조는 없습니다. 다만 가이드라인이 있는 것뿐이죠. 여러 종류의 자기소개서를 보아왔는데 가장 많이 쓰이는 구조가:</p>
      <p>
      1. 전공과목을 공부하고 싶은 이유<br>
      2. 학교에서 배우는 것 외에 스스로 공부한 것<br>
      3. 학업 성과<br>
      4. 학업 외 성과 (예, 봉사활동) 및 취미 "전 흥미로운 사람입니다"
      </p><br>
      <p><b><i>전공과목을 공부하고 싶은 이유</i></b></p>
      <p>이 부분이 가장 쓰기 어려운 부분인 것 같고 스스로 독서 준비가 필요한 부분인 것 같습니다. 대부분이 졸업한 후에 하고 싶은 일의 계기에 대해 적는 것 같습니다. 의대같이 진로가 정해진 과목은 가능한 거 같은데 대부분이 정해진 직업이 없기 때문에 학문에 대한 열정을 바탕으로 쓰는 것도 좋을 것 같습니다. </p>
      <p>처음에는 대부분이<br> 
        <i>"I want to study Biochemistry because I find it very interesting"</i><br>
을 생각할 텐데 전공과목에 대해 충분히 독서를 하면 <br>
<i>"Having read 'Chemistry of Life' by Nick Lane, I was fascinated by the immense role of our immune system, e.g. faults in its system linked to cancer. Wanting to study the link between immune system and cancer is one of the reasons for choosing to study Biochemistry."</i><br>
        라는 좀 더 진심이 느껴지는 글을 적을 수 있습니다.</p><br>

      <p><b><i>학교에서 배우는 것 외에 스스로 공부한 것</i></b></p>
      <p>전공과목에 대한 열정을 보여주기 위해 그 과목에 대해 얼마나 읽었는지를 보여줘야 하는 곳입니다. 읽어본 관련 서적에 대해 언급하세요. 옥스브리지를 생각한다면 학교수업 외 스스로 찾아서 읽은 이론들에 대한 언급은 필수입니다. 가장 좋아하는 토픽도 언급하세요. 인터뷰에 주제가 될 수도 있습니다. 때문에 자기소개서에 언급한 주제들은 인터뷰 전의 완벽히 알아야 합니다.</p>
      <p>무엇을 읽어야 할지 어디서 시작을 해야 할지 모르신다면 저희 그루미 <%= link_to "추천 도서", pages_suggested_readings_path, class:"link" %>에 나와있는 부분을 참조하시면 도움이 될 것 같습니다.</p><br>
      
      <p><b><i>학업 성과</i></b></p>
      <p>이 부분이 가장 쓰기 어려운 부분인 것 같고 스스로 독서 준비가 필요한 부분인 것 같습니다. 대부분이 졸업한 후에 하고 싶은 일의 계기에 대해 적는 것 같습니다. 의대같이 진로가 정해진 과목은 가능한 거 같은데 대부분이 정해진 직업이 없기 때문에 학문에 대한 열정을 바탕으로 쓰는 것도 좋을 것 같습니다.</p><br>
      
      <p><b><i>전공과목을 공부하고 싶은 이유</i></b></p>
      <p>이 부분은 '자기 자랑'을 하는 부분이라고 말 할 수 있습니다. 학교 성적은 UCAS에 다 들어가니 정규시험 외에 '작은' 경시대회라든지 학교 내에서 받는 상장이라든지 혹은 과목 관련 활동 이라던지.</p>
      <p>UKMT 골드 받았다고 정말 많이 쓰는데 이건 많이들 받기 때문에 큰 메리트가 없습니다. 대신 한인들이 월등히 수학을 잘하니 UKMT 다음 라운드에서 Bronze라도 받으면 쓸 만 하죠. 우수성도 중요하지만 열정도 중요하다고 생각합니다. 학교에서 과 동아리를 시작해보세요. 전 개인적으로 저희 학교 첫 과학 동아리를 시작했습니다. 아주 간단했습니다. 선생님들의 도움과 함께 과학 모형 만들기 대회로 시작해서 우승상금 100파운드 할당의 도서상품권으로 해서 주최한. 전 개인적으로 DNA 모형을 만들었습니다. 비록 10명의 학생들이 참가했지만 자기소개서에 쓰기엔 충분했습니다.</p><br>

      <p><b><i>학업 외 성과</i></b></p>      
      <p>그루미 자료실에 과목별로 대학별로 <%= link_to "자기소개서", pages_personal_statements_path, class:"link" %>가 있는데 보시면 정말 여러 종류의 방과활동과 여름 프로젝트 등이 있습니다. 미국 입시에는 창의성 그리고 리더십을 보여줄 수 있는 활동 기록이 필수라고 하던데 이건 영국도 마찬가지인 것 같습니다. 예를 들면 기숙사학교에서 기숙사 반장이었다던지 혹은 봉사 목표의 모금활동을 했다던지. 다만 옥스브릿지를 목표로 하고 있다면 학업 외 성과는 비중이 거의 없다는 말씀을 강조합니다. </p>



      
      
      <%= link_to "자기 소개서 자료실", pages_personal_statements_path %></p>
      
    </div>
  </div>
